/*styles for everything*/
body {
    font-family: verdana, arial, sans-serif;}
/* styles for the header*/
.header {
    font-size: 14pt;
}
/*footer stuff goes here*/
.footer { /*Footer div*/
    position: fixed;
    background-color: #7a7c7f;
    width:100%;
    height:25%;
    bottom:0;
    left:0;
    right:0;
}
.footer table { /*lists indide of footer div*/
    list-style-type: none;
    margin:1em;
    padding:1em;
}
.footer td {
    text-align: center;
}
/*styles for the content box and everthing in it*/
.contentbox {
    background-color:#e3e3e3;
    margin:0;
    padding:0;
    left: 10%;
    right: 10%;
    height:100%;
    
    position: fixed;
}

