/*
Woolf Brebner, December 3rd 2017 in VSCODE, Master Branch

Styles.scss is for AGILE-2017-FALL-SAS Template 2 and written by Woolf Brebner, Ethan Mentzer, Cole Cristini,
Cormac Gill and Desmond Saunders. This style sheet is intend to be turned from SASS/styles.scss to CSS/styles.css and styles.css
will be linked to index.html 

Github page is currently https://github.com/myrdinwylt/Agile-2017-Fall-SAS and this file is located in AGILE-2017-FALL-SAS/Templates/Template2/SASS/styles.scss

*/
/*Note: Color palette is Base: #FFFFFF, Accents: #c9c9c9, Text:#000000, Misc: #C9C9C9*/
/*Colour palette vars*/
$base-colour: #FFFFFF;
$accent-colour: #000000;
$text-colour: #000000;
$misc-colour: #c9c9c9;
/*Text vars*/
$text-default: 'Andale Mono', verdana, sans-serif;
/*body css and css concerning things other than div tags*/
.body{
    background-color: $base-colour;
}
/*Header stuff-Header is box at the top that holds an h1 with the companys name or an vector image that has the company name in it and
when shrunk or displayed on phones the text lowers size until it can no longer be held in the div and will then be changed into a small company
logo*/
.header{
    position: fixed;
    align-content: center;
    text-align: center;
    background-color: $base-colour;
    color: $text-colour;
    top:0;
    left:0;
    right:0;
    outline: $accent-colour double;
    h1{
        font-family: $text-default;
        font-size: 72pt;
        margin:1em;
        padding:0em;
    }
}

