/*styles for everything*/
body {
    font-family: verdana, arial, sans-serif;
    background-color: #aaa;
    background-image:url(http://cdn.mysitemyway.com/etc-mysitemyway/webtreats/assets/posts/873/full/tileable-metal-textures-4.jpg);
    background-repeat:repeat;
}
a:hover {
    background: transparent url(http://www.noanoa.com/images/arrow-up-slim-black.svg) no-repeat center right;
    padding-right: 16px;
}
a {
    
}

/*styles for the content box and everthing in it*/
.contentbox {
    background-color:white;
    margin:0;
    padding:0;
    left: 15%;
    right: 15%;
    width: 70%;
    top:0;
    position: relative;
}
.header {/* styles for the header(part of the content box.*/
    font-size: 14pt;
    text-align: center;
}
.header img{/*note: Image must be aligned with its borders*/
    width:40%;
    height:40%;
    padding:1em;
}
.navbar {/*navbar is part of the content box.*/
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
} 
.navbar li{
   display:inline; 
   float: left;
}
.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em 1.2em;
    text-decoration: none;
}
.navbar li a:hover {
    background-color: #111;
}
.content {/*content is part of the content box*/
 text-align: center;
}
.footer { /*Footer div*/
    position: relative;
    background-color:gray;
    height: 25%;
    bottom:0;
    width:100%;
    left:0%;
    right:0%;
    }
 .footer table { /*lists indide of footer div*/
    list-style-type: none;
    margin:1em;
    padding:1em;
}
.footer td {
    text-align: center;
    align-content: center;
}
.text{
    margin:2em;
} 


