<!doctype html><!_SAS Agile-2017-Fall-SAS-template2

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Agile-2017-Fall-SAS-template</title>
  <meta name="description" content="Agile-2017-Fall-SAS-template">
  <meta name="SAS-Hackathon-team" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css?v=1.0">


</head>

<body>
<script src="js/scripts.js"></script>
<div class="top"><!The class header (which ends on line --) contains a company logo-text and the navbar which is the size of the logo-text_>
    <div class="header">
        <h1>Lorem Ipsum</h1>
    </div>
    <div class="navbar">
        <a href="">Villa</a>
        <a href="">Nuntii</a>
        <a href="">Contactu</a>
        <a href="">Fere</a>
    </div>
</div>
</body>
</html>
